<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/login.js"></script>

    </head>
    <body>
        <h1>Sign in here</h1>
        <form id="login-form"> 
            <label for="email">Email</label>
            <input name="email" id="email">
            <hr>
            <label for="password">Password</label>
            <input name="password" id="password">
            <hr>
            <button type="submit">Submit</button>
        </form>
      <p>don't have an account? <a href="{%url 'signup'%}">Sign up!</a></p>
    </body>
    <script>
      console.log('signup?')

    document.getElementById('login-form').addEventListener('submit', (event)=>{
        event.preventDefault()

        axios.post('/signin', {
            email: document.getElementById('email').value,
            password: document.getElementById('password').value,
        }).then((response)=>{
          
            // client-side redirect. use javascript to go to the homepage after logging in.
            window.location.href = '/index'
        })
    })
    </script>
</html>

